*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0, 0, 0);
}
.navbar-toggler img{
    outline: none !important;
    padding: 0 !important;
  }
  .navbar-toggler img{
    width: 35px;
  }
  .navbar-brand img{
    width: 100px;
  }
  .nav-link{
    color: black !important;
    font-weight: 600;
    margin-left: 30px;
  }
.row{
    background: white;
    border-radius: 30px;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 100%;
}


.btn1{
    display: block;
	width: 100%;
	height: 50px;
    border-radius: 4px;
	outline: none;
	border: none;
    background-color: black;
    color: white;
}