@charset "utf-8";
/* CSS Document */
body{
  background-image: radial-gradient(circle, #3a3a3b, #666667, #969697, #c9c9ca, #ffffff);
}
.container2{
	margin-left: 80px;
	margin-right:300px;
	height: auto;
	width: 1000px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4rem;
	backdrop-filter: blur(16px) saturate(180%);
	
}
.lrow .vehicle{	
margin: 30px;	
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 350px;
border-radius: 30px;
text-align: center;
font-family: arial;
height: 550px;
width: 350px;
float: left;
border: 1px solid #000000;
background-color: rgba(17, 25, 40, 0.25);
filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
}
.vehicle .image{	
	height: 350px;
	width: 35px;
}
.vehicle .image img{
	border-radius: 30px;
	height: 280px;
	width: 328px;
	position: center;
	margin-top: 10px;
	margin-left: 10px;
}

.vehicle .Pname p{
	font-size: 20px;
	
	margin-top: 10px;
}
.vehicle .Pname {	
	margin-top: 10px;
}
.lrow{
max-width: 1500px;
display: inline-flex;
	flex-wrap: wrap;
}

.bton {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
  }
  .outline {
    background: transparent;
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.6);
    transition: all .3s ease;
    
  }
  
  .outline:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }
  p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  h1{
    font-family: 'Righteous', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
	text-align: left;
  }
  .btn{
	padding-left:10px;
	margin-left: 10px;
  }
  select{
	padding-left: 50px;
  }
  label{
	margin-right: 10px;
  }