.table-data{
    max-width: 1280px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin: 50px;
}
table{
    width: 100%;    
    white-space: nowrap;
}
table > thead{
    background-color: #3C91E6;
}
table> tbody > tr{
    margin-bottom: 10px;
}
table> tbody > tr >td>img{
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    
    border:4px solid #000;
}
body{
    background-image: linear-gradient(to bottom, #3a3a3b, #666667, #969697, #c9c9ca, #ffffff);  
}
h1{
    font-family: 'Righteous', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
	text-align: left;
  }