@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
  font-family: sans-serif;
  background-image: radial-gradient(circle, #3a3a3b, #666667, #969697, #c9c9ca, #ffffff);
 }
 #nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
 }
 .navbar{
  background-image: linear-gradient(to right, #ffffff,#4d4d4d,#363333);
  padding: 0 !important;
 }

 .navbar-brand img{
  height: 85px;
  width: 170px;
  padding-left: 50px;
 }

 .navbar-nav li{
  padding: 0 10px;
 }
 .navbar-nav li a{
   color: #fff !important;
   font-weight: 600 ;
 }
 .navbar-toggler img{
  outline: none !important;
  padding: 0 !important;
}
.navbar-toggler img{
  width: 35px;
}
.register{
  background: -webkit-linear-gradient(left, #000000, #393a3a);
  margin-top: 3%;
  padding: 3%;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0c0c0c;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #000000;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #000000;
  border: 2px solid #000000;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}