@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
 *{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    box-sizing: border-box;
 }
  .navbar{
    background-image:linear-gradient(to right,#fff,#82868a,#000) ;
  }
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li form button{
  border: 0px;
  padding: 0 12px;
  margin-top: 8px;
  background-color: rgba( 255, 255, 255, 0.1);
  color: rgba(225, 225, 225, alpha);

}
 .navbar-toggler img{
  outline: none !important;
  padding: 0 !important;
}
.navbar-toggler img{
  width: 35px;
}
.navbar-brand img{
  width: 100px;
}
.nav-link{
  color: rgb(255, 255, 255) !important;
  font-weight: 600;
  margin-left: 30px;
}
 section{
    padding: 200px 250px;
 }
 .home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #000;
 }

 .home:before{
  z-index: 777;
  content: '';
  position: absolute;
  /*background: rgba(255, 255, 255, 0.3);*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

 }
 .home .content{
   z-index: 888;
   color: #fff;
   width: 70%;
   margin-top: 50px;
   display: none;

 }

 .home .content.active{
  display: block;
 }

 .home .content h1{
   font-size: 4rem;
   font-weight: 900;
   text-transform: uppercase;
   letter-spacing: 5px;
   line-height: 75px;
   margin-bottom: 40px;
 }
 .home .content h1 span{
   font-size: 1.2em;
   font-weight: 600;
 }
 .home .content p{
   margin-bottom: 20%;

 }
 .home .content a{
   background: #fff;
   padding: 15px 35px;
   color: #000;
   font-size: 1.1em;
   font-weight: 400;
 }
 .home .media-icons{
   z-index: 888;
   position: absolute;
   right: 30px;
   display: flex;
   flex-direction: column;
   transition: 0.5s ease;
   
 }
 .home .media-icons a{
   color: #fff;
   font-size: 1.6em;

 }
 .home .media-icons a:not(:last-child){
      margin-bottom: 30px;
 }
 .home .media-icons a:hover{
   transform: scale(1.3);
 }
 .home video{
   z-index: 000;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
 }
 .slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
 }
 .slider-navigation .nav-btn.active{
  background: goldenrod;

 }
 .slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
 }
 .slider-navigation .nav-btn:hover{
  transform: scale(1.2);
 }
 .video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
 }

 .video-slide.active{
  clip-path: circle(150.0% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
 }
 .containerc{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 250px;
  padding: 20px 20;
 }

  .containerc .card{
    position: relative;
    height: 250px;
    background:#000;
    color: #fff;
    display: flex;
    width: 45%;
    border-radius: 20px;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .containerc .card .image{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba( 255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    height: calc(100%);
    width: calc(100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1) ;
    transition: 0.5s ease-in-out;
  }
  .containerc .card:hover .image{
    height: 150px;
    width: 150px;
    left: -65px;
    top: calc(50% - 65px);
  }
  .containerc .card:hover .image img{
    max-width: 200px;
  }

  .containerc .card .content1{
    position: absolute;
    right: 0;
    width: calc(100% - 85px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }


 /*@media (max-width:1040){
   header {
      padding: 12px 20px;
  }

  section {
   padding: 200px 20px;
 }
 .home .media-icons {
   right: 30px;
 }
   header .navigation{
      display: none;
   }
   .menu-btn{
      background: url(media/menu.png) no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      cursor: pointer;
      transition: 0.3s ease;

   }
 }*/

