body{
    background-image:  radial-gradient(circle, #3a3a3b, #666667, #969697, #c9c9ca, #ffffff);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    border: 3px solid #ced4da;
  }
  .container form img{
    margin: 30px;
    height: 300px;
    border: 3px solid #ced4da;
    border-radius: 10px;
    
  }
.col-3{
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6rem;
    padding: 20px;
    margin-bottom: 5px;
    color: #e9ecef;
}
h1{
    font-family: 'arial', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: lowercase;
    font-size: 1.2rem;
	text-align: left;
  }
  span{
    color: #000;
    font-size: 1.2rem;
  }