.update{
    min-height: 100vh;
    background-color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.update form{
    padding: 20px;
    background-color: #fff;
    box-shadow: #6f6f6f;
    text-align: center;
    width: 700px;
    text-align: center;
    border-radius:5px ;
}
.update form img{
    height: 500px;
    width: 700px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 5px;

}
.update form .flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
    
}
.update form .flex .input{
    width: 49%;
}
.update form .flex .input span{
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color: #000;
}
.update form .flex .input li{
    display: inline-block;
    text-align: left;
    justify-content: left;
}
input[type=text], input[type=date],input[type=file]{
    width: 200px; 
    text-align: center;
    height: 39px; 
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #fff; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 10px;
  }